body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

.converter {
    margin-top: 50px;
}

#result {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}